In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./titanic.csv')
df = df.drop(['Cabin', 'Name', 'Ticket', 'PassengerId'], axis=1)
# Probably drop names
# Combine sibsp and parch
df['Fare'] = df['Fare'].round()

In [3]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch  Fare Embarked
0           0       3    male  22.0      1      0   7.0        S
1           1       1  female  38.0      1      0  71.0        C
2           1       3  female  26.0      0      0   8.0        S
3           1       1  female  35.0      1      0  53.0        S
4           0       3    male  35.0      0      0   8.0        S
..        ...     ...     ...   ...    ...    ...   ...      ...
886         0       2    male  27.0      0      0  13.0        S
887         1       1  female  19.0      0      0  30.0        S
888         0       3  female   NaN      1      2  23.0        S
889         1       1    male  26.0      0      0  30.0        C
890         0       3    male  32.0      0      0   8.0        Q

[891 rows x 8 columns]

In [4]:
df.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [5]:
df.isnull().sum(axis = 0)

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [6]:
mean = df["Age"].mean()
std = df["Age"].std()

In [7]:
#  Fill age 
rng = np.random.default_rng(0)
filler = pd.Series(np.round(rng.normal(loc=mean, scale=std, size=len(df))))
df['Age'] = df['Age'].fillna(filler)
# Drop 2 rows with nan fare
df = df.dropna()

In [8]:
df['Sex'] = df['Sex'].replace(['male','female'],[0, 1]).astype('int')
df['Embarked'] = df['Embarked'].replace(['S','C','Q'],[0, 1, 2]).astype('int')
df['F']

/tmp/ipykernel_7840/1641384322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sex'] = df['Sex'].replace(['male','female'],[0, 1]).astype('int')
/tmp/ipykernel_7840/1641384322.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Embarked'] = df['Embarked'].replace(['S','C','Q'],[0, 1, 2]).astype('int')

In [9]:
# df['Embarked'] = df['Embarked'].replace(['S','C','Q'],[0, 1, 2]).astype('int').copy()

In [10]:
print(mean)
print(std)

29.69911764705882
14.526497332334042

In [11]:
df.isnull().sum(axis = 0)

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [15]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch  Fare  Embarked
0           0       3    0  22.0      1      0   7.0         0
1           1       1    1  38.0      1      0  71.0         1
2           1       3    1  26.0      0      0   8.0         0
3           1       1    1  35.0      1      0  53.0         0
4           0       3    0  35.0      0      0   8.0         0
..        ...     ...  ...   ...    ...    ...   ...       ...
886         0       2    0  27.0      0      0  13.0         0
887         1       1    1  19.0      0      0  30.0         0
888         0       3    1  40.0      1      2  23.0         0
889         1       1    0  26.0      0      0  30.0         1
890         0       3    0  32.0      0      0   8.0         2

[889 rows x 8 columns]

In [13]:
df.to_csv('titanic_fixed.csv')

In [14]:
list(df.columns)

['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']